.tipsy {
  background-image: url("../images/maps-bg.png");
  background-size: contain;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: center;

  &__logo {
    max-width: 250px;
    margin-bottom: 1rem;

    &__img {
      width: 100%;
    }
  }
}
